<div class="header-wrapper container-fluid">
  <header class="col-12">
    <p class="col-4 text-center"><i class="fa fa-bars"></i></p>
    <p class="Domingodesign col-4">Domingo.Design</p>
    <a href="/" class="Contact-us col-4">Contact Us</a>
  </header>
  <div class="col-12 banner">
    <img src="/assets/images/banner.png" alt="" class="banner-img">
    <p class="We-work-with-startups-to-build-the-brands-of-the-future">We work with startups to build the brands of the future</p>
  </div>
</div>
