<div class="container about-wrapper">
  <div class="row">
    <div class="Domingo-design col-6">
      <p class="Designndesign">Domingo Design</p>
      <p class="We-work-with-startups-to-build-the-brands-of-the-future">We work with startups to build the brands of the future...</p>
    </div>
    <div class="col-6 connect">
      <p class="Ready-to-start-your-next-project-Drop-us-a-line-or-dtop-by-our-office-We-are-open-for-creative-minds-and-collaboration">Ready to start your next project? Drop us a line or dtop by our office. We are open for creative minds and collaboration</p>
      <div class="quotation">
        <p class="Get-a-quotation-for-your-project">Get a quotation for your project</p>
        <p class="Send-us-a-message-hidomingodesign">Send us a message:  hi@domingo.design</p>
      </div>
    </div>
  </div>
</div>
