<div class="container contact-wrapper">
  <div class="row">
    <form>
      <p class="Contact-us">Contact Us</p>
      <p class="Lorem-ipsum-dolor-si-Copy-4">We're not a mega-agency so we've got to be selective. What are you
        looking for and why should we work together?</p>
      <div class="input-wrapper">
        <div class="input-fields">
          <input type="text" name="name" id="email" placeholder="Your Name" class="Your-name">
        </div>
        <div class="input-fields">
          <label for="email" class="EMAIL-ADDRESS">Email Address</label>
          <input type="email" name="email" id="email" placeholder="abc@gmail.com" class="email-input">
        </div>
        <div class="input-fields">
          <label for="message" class="Messages">Message</label>
          <textarea name="messsage" id="message" placeholder="Enter Message here" class="Enter-Message"></textarea>
        </div>
      </div>
      <div class="submit">
        <p class="Submit-form">Submit form</p>
        <img src="/assets/images/button.png" alt="arrow">
      </div>
    </form>
  </div>
</div>
