<div class="container">
  <div class="row">
    <div class="col-8 experience">
      <div class="col-6 Experience-Design">
        <img src="/assets/images/experience-design.png" alt="design-image">
        <p class="Rebranding-a-cold-small-business-clothing-app-into-a-warm-trusted">Rebranding a cold, small business clothing app into a warm, trusted.</p>
      </div>
      <div class="HELPING-Building-Brand-Identity">
        <p>HELPING Building Brand Identity</p>
      </div>
    </div>
    <div class="col-4 ui-ux-design">
      <img src="/assets/images/ui-ux.png" alt="ui-ux-image">
    </div>
  </div>
</div>
