@font-face {
  font-family: AvenirLTStd;
  src: url(/assets/fonts/AvenirLTStd.otf) format("opentype");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(/assets/fonts/PlayfairDisplay.ttf) format("truetype");
}

.description-wrapper {
  margin: 5% auto !important;
}

.What-we-do {
  font-family: PlayfairDisplay;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: auto !important;
  padding-bottom: auto !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Rebranding-a-cold-small-business-clothing-app-into-a-warm-trusted-friend-gives-business-owners {
  font-family: AvenirLTStd;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

.What-we-do p , .Rebranding-a-cold-small-business-clothing-app-into-a-warm-trusted-friend-gives-business-owners p {
  margin-bottom: 0;
}

@media(max-width: 800px) {
  .description-wrapper {
    padding-top: 10%;
  }
  .What-we-do {
    font-size: 20px;
  }
  .Rebranding-a-cold-small-business-clothing-app-into-a-warm-trusted-friend-gives-business-owners {
    font-size: 13px;
  }
}
@media(max-width: 550px) {
  .description-wrapper {
    padding-top: 20% !important;
  }
}
