<div class="container">
  <div class="row">
    <div class="col-4 Brand-illustration">
      <img src="/assets/images/brand-illustration.png" alt="brand-image">
    </div>
    <div class="col-8 brand">
      <div class="HELPING-Building-Brand-Identity">
        <p>HELPING Building Brand Identity</p>
      </div>
      <div class="col-6 Brand-Identity">
        <img src="/assets/images/brand-identity-illustration.png" alt="">
        <p class="Rebranding-a-cold-small-business-clothing-app-into-a-warm-trusted">Rebranding a cold, small business clothing app into a warm, trusted.</p>
      </div>
    </div>
  </div>
</div>
